<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mapper.BookInfoMapper">
	<insert id="inertBookInfo" parameterType="com.example.model.Books">
		INSERT INTO Books (title,author,publisher,releaseDate,price)
		values (#{title},#{author},#{publisher},#{releaseDate},#{price})
	</insert>
	
	<select id="selectBooksInfo" resultType="com.example.model.Books">
		select * from Books order by title asc
	</select>
	
	<delete id="deleteBookInfo" parameterType="int">
		delete from Books where book_no = #{book_no}
	</delete>
	
	<select id="selectBookInfo" resultType="com.example.model.Books" parameterType="int">
		select * from Books where book_no = #{book_no}
	</select>
	
	<update id="updateBookInfo" parameterType="com.example.model.Books">
		update Books set 
		title = #{title},
		author = #{author},
		publisher = #{publisher},
		releaseDate = #{releaseDate},
		price = #{price} 
		where book_no = #{book_no}
	</update>
</mapper>

